aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.9.0
async-timeout==5.0.1
attrs==25.4.0
cachetools==5.5.2
certifi==2025.4.26
cfgv==3.4.0
charset-normalizer==3.4.2
click==8.1.8
distlib==0.3.9
edge-tts==7.2.7
exceptiongroup==1.3.0
fastapi==0.115.12
ffmpy==0.5.0
filelock==3.18.0
frozenlist==1.8.0
fsspec==2025.5.1
google-api-core==2.25.0
google-auth==2.40.3
google-cloud-texttospeech==2.27.0
googleapis-common-protos==1.70.0
gradio==5.32.0
gradio_client==1.10.2
gradio_toggle==2.0.2
groovy==0.1.2
grpcio==1.72.1
grpcio-status==1.72.1
gTTS==2.5.4
h11==0.16.0
hf-xet==1.1.2
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.32.3
identify==2.6.12
idna==3.10
Jinja2==3.1.6
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
multidict==6.7.0
nodeenv==1.9.1
numpy==2.2.6
orjson==3.10.18
packaging==25.0
pandas==2.2.3
pillow==11.2.1
platformdirs==4.3.8
pre_commit==4.2.0
propcache==0.4.1
proto-plus==1.26.1
protobuf==6.31.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.11.5
pydantic_core==2.33.2
pydub==0.25.1
Pygments==2.19.1
pyobjc==12.1; sys_platform == "darwin"
pyobjc-core==12.1; sys_platform == "darwin"
pyobjc-framework-Accessibility==12.1; sys_platform == "darwin"
pyobjc-framework-Accounts==12.1; sys_platform == "darwin"
pyobjc-framework-AddressBook==12.1; sys_platform == "darwin"
pyobjc-framework-AdServices==12.1; sys_platform == "darwin"
pyobjc-framework-AdSupport==12.1; sys_platform == "darwin"
pyobjc-framework-AppleScriptKit==12.1; sys_platform == "darwin"
pyobjc-framework-AppleScriptObjC==12.1; sys_platform == "darwin"
pyobjc-framework-ApplicationServices==12.1; sys_platform == "darwin"
pyobjc-framework-AppTrackingTransparency==12.1; sys_platform == "darwin"
pyobjc-framework-ARKit==12.1; sys_platform == "darwin"
pyobjc-framework-AudioVideoBridging==12.1; sys_platform == "darwin"
pyobjc-framework-AuthenticationServices==12.1; sys_platform == "darwin"
pyobjc-framework-AutomaticAssessmentConfiguration==12.1; sys_platform == "darwin"
pyobjc-framework-Automator==12.1; sys_platform == "darwin"
pyobjc-framework-AVFoundation==12.1; sys_platform == "darwin"
pyobjc-framework-AVKit==12.1; sys_platform == "darwin"
pyobjc-framework-AVRouting==12.1; sys_platform == "darwin"
pyobjc-framework-BackgroundAssets==12.1; sys_platform == "darwin"
pyobjc-framework-BrowserEngineKit==12.1; sys_platform == "darwin"
pyobjc-framework-BusinessChat==12.1; sys_platform == "darwin"
pyobjc-framework-CalendarStore==12.1; sys_platform == "darwin"
pyobjc-framework-CallKit==12.1; sys_platform == "darwin"
pyobjc-framework-Carbon==12.1; sys_platform == "darwin"
pyobjc-framework-CFNetwork==12.1; sys_platform == "darwin"
pyobjc-framework-Cinematic==12.1; sys_platform == "darwin"
pyobjc-framework-ClassKit==12.1; sys_platform == "darwin"
pyobjc-framework-CloudKit==12.1; sys_platform == "darwin"
pyobjc-framework-Cocoa==12.1; sys_platform == "darwin"
pyobjc-framework-Collaboration==12.1; sys_platform == "darwin"
pyobjc-framework-ColorSync==12.1; sys_platform == "darwin"
pyobjc-framework-CompositorServices==12.1; sys_platform == "darwin"
pyobjc-framework-Contacts==12.1; sys_platform == "darwin"
pyobjc-framework-ContactsUI==12.1; sys_platform == "darwin"
pyobjc-framework-CoreAudio==12.1; sys_platform == "darwin"
pyobjc-framework-CoreAudioKit==12.1; sys_platform == "darwin"
pyobjc-framework-CoreBluetooth==12.1; sys_platform == "darwin"
pyobjc-framework-CoreData==12.1; sys_platform == "darwin"
pyobjc-framework-CoreHaptics==12.1; sys_platform == "darwin"
pyobjc-framework-CoreLocation==12.1; sys_platform == "darwin"
pyobjc-framework-CoreMedia==12.1; sys_platform == "darwin"
pyobjc-framework-CoreMediaIO==12.1; sys_platform == "darwin"
pyobjc-framework-CoreMIDI==12.1; sys_platform == "darwin"
pyobjc-framework-CoreML==12.1; sys_platform == "darwin"
pyobjc-framework-CoreMotion==12.1; sys_platform == "darwin"
pyobjc-framework-CoreServices==12.1; sys_platform == "darwin"
pyobjc-framework-CoreSpotlight==12.1; sys_platform == "darwin"
pyobjc-framework-CoreText==12.1; sys_platform == "darwin"
pyobjc-framework-CoreWLAN==12.1; sys_platform == "darwin"
pyobjc-framework-CryptoTokenKit==12.1; sys_platform == "darwin"
pyobjc-framework-DataDetection==12.1; sys_platform == "darwin"
pyobjc-framework-DeviceCheck==12.1; sys_platform == "darwin"
pyobjc-framework-DeviceDiscoveryExtension==12.1; sys_platform == "darwin"
pyobjc-framework-DictionaryServices==12.1; sys_platform == "darwin"
pyobjc-framework-DiscRecording==12.1; sys_platform == "darwin"
pyobjc-framework-DiscRecordingUI==12.1; sys_platform == "darwin"
pyobjc-framework-DiskArbitration==12.1; sys_platform == "darwin"
pyobjc-framework-DVDPlayback==12.1; sys_platform == "darwin"
pyobjc-framework-EventKit==12.1; sys_platform == "darwin"
pyobjc-framework-ExceptionHandling==12.1; sys_platform == "darwin"
pyobjc-framework-ExecutionPolicy==12.1; sys_platform == "darwin"
pyobjc-framework-ExtensionKit==12.1; sys_platform == "darwin"
pyobjc-framework-ExternalAccessory==12.1; sys_platform == "darwin"
pyobjc-framework-FileProvider==12.1; sys_platform == "darwin"
pyobjc-framework-FileProviderUI==12.1; sys_platform == "darwin"
pyobjc-framework-FinderSync==12.1; sys_platform == "darwin"
pyobjc-framework-FSEvents==12.1; sys_platform == "darwin"
pyobjc-framework-FSKit==12.1; sys_platform == "darwin"
pyobjc-framework-GameCenter==12.1; sys_platform == "darwin"
pyobjc-framework-GameController==12.1; sys_platform == "darwin"
pyobjc-framework-GameKit==12.1; sys_platform == "darwin"
pyobjc-framework-GameplayKit==12.1; sys_platform == "darwin"
pyobjc-framework-GameSave==12.1; sys_platform == "darwin"
pyobjc-framework-HealthKit==12.1; sys_platform == "darwin"
pyobjc-framework-ImageCaptureCore==12.1; sys_platform == "darwin"
pyobjc-framework-InputMethodKit==12.1; sys_platform == "darwin"
pyobjc-framework-InstallerPlugins==12.1; sys_platform == "darwin"
pyobjc-framework-InstantMessage==12.1; sys_platform == "darwin"
pyobjc-framework-Intents==12.1; sys_platform == "darwin"
pyobjc-framework-IntentsUI==12.1; sys_platform == "darwin"
pyobjc-framework-IOBluetooth==12.1; sys_platform == "darwin"
pyobjc-framework-IOBluetoothUI==12.1; sys_platform == "darwin"
pyobjc-framework-IOSurface==12.1; sys_platform == "darwin"
pyobjc-framework-iTunesLibrary==12.1; sys_platform == "darwin"
pyobjc-framework-KernelManagement==12.1; sys_platform == "darwin"
pyobjc-framework-LatentSemanticMapping==12.1; sys_platform == "darwin"
pyobjc-framework-LaunchServices==12.1; sys_platform == "darwin"
pyobjc-framework-libdispatch==12.1; sys_platform == "darwin"
pyobjc-framework-libxpc==12.1; sys_platform == "darwin"
pyobjc-framework-LinkPresentation==12.1; sys_platform == "darwin"
pyobjc-framework-LocalAuthentication==12.1; sys_platform == "darwin"
pyobjc-framework-LocalAuthenticationEmbeddedUI==12.1; sys_platform == "darwin"
pyobjc-framework-MailKit==12.1; sys_platform == "darwin"
pyobjc-framework-MapKit==12.1; sys_platform == "darwin"
pyobjc-framework-MediaAccessibility==12.1; sys_platform == "darwin"
pyobjc-framework-MediaExtension==12.1; sys_platform == "darwin"
pyobjc-framework-MediaLibrary==12.1; sys_platform == "darwin"
pyobjc-framework-MediaPlayer==12.1; sys_platform == "darwin"
pyobjc-framework-MediaToolbox==12.1; sys_platform == "darwin"
pyobjc-framework-Metal==12.1; sys_platform == "darwin"
pyobjc-framework-MetalFX==12.1; sys_platform == "darwin"
pyobjc-framework-MetalKit==12.1; sys_platform == "darwin"
pyobjc-framework-MetalPerformanceShaders==12.1; sys_platform == "darwin"
pyobjc-framework-MetalPerformanceShadersGraph==12.1; sys_platform == "darwin"
pyobjc-framework-MetricKit==12.1; sys_platform == "darwin"
pyobjc-framework-MLCompute==12.1; sys_platform == "darwin"
pyobjc-framework-ModelIO==12.1; sys_platform == "darwin"
pyobjc-framework-MultipeerConnectivity==12.1; sys_platform == "darwin"
pyobjc-framework-NaturalLanguage==12.1; sys_platform == "darwin"
pyobjc-framework-NetFS==12.1; sys_platform == "darwin"
pyobjc-framework-Network==12.1; sys_platform == "darwin"
pyobjc-framework-NetworkExtension==12.1; sys_platform == "darwin"
pyobjc-framework-NotificationCenter==12.1; sys_platform == "darwin"
pyobjc-framework-OpenDirectory==12.1; sys_platform == "darwin"
pyobjc-framework-OSAKit==12.1; sys_platform == "darwin"
pyobjc-framework-OSLog==12.1; sys_platform == "darwin"
pyobjc-framework-PassKit==12.1; sys_platform == "darwin"
pyobjc-framework-PencilKit==12.1; sys_platform == "darwin"
pyobjc-framework-PHASE==12.1; sys_platform == "darwin"
pyobjc-framework-Photos==12.1; sys_platform == "darwin"
pyobjc-framework-PhotosUI==12.1; sys_platform == "darwin"
pyobjc-framework-PreferencePanes==12.1; sys_platform == "darwin"
pyobjc-framework-PushKit==12.1; sys_platform == "darwin"
pyobjc-framework-Quartz==12.1; sys_platform == "darwin"
pyobjc-framework-QuickLookThumbnailing==12.1; sys_platform == "darwin"
pyobjc-framework-ReplayKit==12.1; sys_platform == "darwin"
pyobjc-framework-SafariServices==12.1; sys_platform == "darwin"
pyobjc-framework-SafetyKit==12.1; sys_platform == "darwin"
pyobjc-framework-SceneKit==12.1; sys_platform == "darwin"
pyobjc-framework-ScreenCaptureKit==12.1; sys_platform == "darwin"
pyobjc-framework-ScreenSaver==12.1; sys_platform == "darwin"
pyobjc-framework-ScreenTime==12.1; sys_platform == "darwin"
pyobjc-framework-ScriptingBridge==12.1; sys_platform == "darwin"
pyobjc-framework-SearchKit==12.1; sys_platform == "darwin"
pyobjc-framework-Security==12.1; sys_platform == "darwin"
pyobjc-framework-SecurityFoundation==12.1; sys_platform == "darwin"
pyobjc-framework-SecurityInterface==12.1; sys_platform == "darwin"
pyobjc-framework-SecurityUI==12.1; sys_platform == "darwin"
pyobjc-framework-SensitiveContentAnalysis==12.1; sys_platform == "darwin"
pyobjc-framework-ServiceManagement==12.1; sys_platform == "darwin"
pyobjc-framework-SharedWithYou==12.1; sys_platform == "darwin"
pyobjc-framework-SharedWithYouCore==12.1; sys_platform == "darwin"
pyobjc-framework-ShazamKit==12.1; sys_platform == "darwin"
pyobjc-framework-Social==12.1; sys_platform == "darwin"
pyobjc-framework-SoundAnalysis==12.1; sys_platform == "darwin"
pyobjc-framework-Speech==12.1; sys_platform == "darwin"
pyobjc-framework-SpriteKit==12.1; sys_platform == "darwin"
pyobjc-framework-StoreKit==12.1; sys_platform == "darwin"
pyobjc-framework-Symbols==12.1; sys_platform == "darwin"
pyobjc-framework-SyncServices==12.1; sys_platform == "darwin"
pyobjc-framework-SystemConfiguration==12.1; sys_platform == "darwin"
pyobjc-framework-SystemExtensions==12.1; sys_platform == "darwin"
pyobjc-framework-ThreadNetwork==12.1; sys_platform == "darwin"
pyobjc-framework-UniformTypeIdentifiers==12.1; sys_platform == "darwin"
pyobjc-framework-UserNotifications==12.1; sys_platform == "darwin"
pyobjc-framework-UserNotificationsUI==12.1; sys_platform == "darwin"
pyobjc-framework-VideoSubscriberAccount==12.1; sys_platform == "darwin"
pyobjc-framework-VideoToolbox==12.1; sys_platform == "darwin"
pyobjc-framework-Virtualization==12.1; sys_platform == "darwin"
pyobjc-framework-Vision==12.1; sys_platform == "darwin"
pyobjc-framework-WebKit==12.1; sys_platform == "darwin"
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
rich==14.0.0
rsa==4.9.1
ruff==0.11.12
safehttpx==0.1.6
semantic-version==2.10.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
starlette==0.46.2
tabulate==0.9.0
tomlkit==0.13.2
tqdm==4.67.1
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
uvicorn==0.34.2
virtualenv==20.31.2
websockets==15.0.1
yarl==1.22.0
